@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 13px;
  color: #777;
  line-height: 1.6;
  letter-spacing: -0.3px;
  word-break: keep-all;
}
ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
