@import "font.css";

body {
  font-family: "Pretendard", sans-serif;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
}
.logo {
  position: relative;
  display: flex;
}
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navi li {
  /* display: inline-block; 인라인 블록으로 표시하여 오른쪽 정렬 효과 */
  margin-left: 10px; /* 항목 간 간격 조정 (선택 사항) */
  float: right;
  gap: 20px;
}

.navi a {
  color: #fff;
  font-size: 15px;

  font-family: "Pretendard-semibold";
}

.main img {
  width: 100%;
  height: 1005;
}

.date-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
  font-family: "Pretendard";
}
.date-list ul {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; /* 리스트 아이템 사이의 간격 */
}
.date-list li {
  position: relative;
  display: flex;
  justify-content: center;
}

.date-title span {
  font-size: 20px;
  font-family: "Pretendard";
  font-weight: 600;
  color: rgba(57, 38, 88, 0.6);
}
.date-title h1 {
  font-size: 40px;
  color: #392658;
  margin-top: 40px;
  font-weight: 700;
}

.date-title h3 {
  font-size: 24px;
  margin-top: 30px;
  font-weight: 400;
  color: #181818;
}
.date-title {
  position: relative;
  width: 100%;
}
.date {
  width: 100%;
  margin-top: 80px;
  font-size: 24px;
  color: #181818;
}
.date .bold {
  font-weight: 600;
}
.date img {
  margin-top: 80px;
}

.content-1 {
  width: 100%;
  height: 894px;
  background-color: #5b2f61;
}

.text {
  display: flex;`
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text-1 {
  padding-top: 100px;
}
.img-1 {
  margin-top: 20px;
  margin-bottom: 80px;
}
.content-1 span {
  font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #fff;
}

.content-2 {
  position: relative;
  display: flex;
  /* justify-content: center; */
}

.content-2 .logo-2{
  position: relative;
  left: 14.2%;
}
.content-2 p {
  position: relative;
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  top: 10%;
  left: 0;
  padding-top: 35px;
}

/* 이미지 슬라이드 */
.swiper {
  width: 900px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}



.swiper-pagination-bullet {
  background: #fff !important;
}
.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
}