@import url("https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", Helvetica, sans-serif;
}

.frame {
  position: relative;
  top: 126px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.frame .program {
  position: relative;
}

.text-container {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #181818;
  text-align: center;
  letter-spacing: -0.24px;
}

.text-wrapper {
  letter-spacing: -0.06px;
}

.text-bold {
  font-weight: bold;
}

.description {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #181818;
  text-align: center;
  letter-spacing: -0.2px;
}

.slide-container {
  position: relative;
  top: 260px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  top: 170px;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.slide-content a {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin: 50px;
}

.slide-content img {
  width: 349px;
  height: 464px;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.slide-content img.middle {
  width: 608px;
  height: 809px;
  z-index: 1;
}

.slide-button {
  position: absolute;
  top: 65%;
  margin: 30px;
  padding: 20px;
  border: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}

.slide-button.prev {
  left: 50px;
  display: none;
}

.slide-button.next {
  right: 50px;
  display: none;
}

.dots {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
  background-color: #bbb;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.dot.active {
  background-color: #717171;
}

.notice-section {
  position: relative;
}

.notice-header {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.notice-image {
}

.notice-text {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.notice-box {
  position: absolute;
  top: 153px;
  left: 50%;
  width: 1400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px 19px 47px 50px;
  border-color: #3ec0c3;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  transform: translateX(-50%);
}

.notice-info {
  width: 99px;
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}

.notice-number {
  font-size: 30px;
  font-weight: 600;
  color: #3ec0c3;
  text-align: center;
}

.notice-date {
  font-size: 20px;
  font-weight: 400;
  color: #484848;
  text-align: center;
}

.notice-content {
  width: 1129px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
}

.notice-title {
  font-size: 24px;
  font-weight: 600;
  color: #181818;
  letter-spacing: -0.24px;
}

.notice-description {
  font-size: 20px;
  font-weight: 400;
  color: #484848;
  line-height: 25px;
  letter-spacing: -0.2px;
}

.notice-box-secondary {
  position: absolute;
  width: 1400px;
  height: 100px;
  display: flex;
  gap: 75px;
  top: 256px;
  padding: 47px 19px 47px 50px;
  border-bottom-width: 1px;
  border-color: #484848;
  border-bottom-style: solid;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}
